body {
  margin: 0;
  font-family: 'Arial', sans-serif; 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.App {
  text-align: center;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9); 
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
h1 {
  color: skyblue;
  margin-bottom: 20px;
}
.balance h2 {
  font-size: 2rem;
  color: #444;
}
.balance h3{
  margin: 0;
  font-size: 1.5rem;
  color: green;
}
.summary{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.summary div{
  width: 45%;
  text-align: left;
}
.summary h3 {
  font-size: 1.2rem;
  color: #444;
}
.summary p {
  font-size: 1.2rem;
}

.history {
  margin: 20px 0;
}

.history h3 {
  font-size: 1.5rem;
  color: #444;
}

.history li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.history li.plus {
  color: green;
}

.history li.minus {
  color: red;
}

.income-input{
  margin: 20px 0;
  text-align: left;
}

.income-input form label{
  font-size: 1 rem;
  color: grey;
}
.history h3 {
  font-size: 1.5rem;
  color: #444;
}

.history ul {
  list-style-type: none;
  padding: 0;
}

.history li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.history li.plus {
  color: green;
}
.history li.minus {
  color: red;
}

.income-input form input{
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;

}

.edit-btn{
  background-color: #444;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.edit-btn:hover {
  background-color: #007bff;
}
